@CHARSET "UTF-8";
html {
	height: 100%;	
}
body,.main-container,.main-content,.page-content{
	height: 100%;
}
.page-content {
	padding: 8px 20px 24px 8px;
}
#tab-header{
	height: 40px;
}
.tab-content, .tab-pane{
	height:100%;
}
.nav-tabs > li .close {
	margin: 0 0 0 8px;
	font-size: 18px;
}
.nav-list>li .submenu>li>a {
	cursor:pointer;
}
.tab-pane iframe{
	width:100%;
	height:100%;
	border:0px;
	padding:0;
	margin:0;
}
.login-layout {
	background-color:#9AB1D0;
}
.ui-style-title {
	color: black;
}